$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

//custom styles

$baseColor: #E6E7E8;
$accentColor: #A1A1B5;
$accentDarkColor: #4E4D82;
$buttonColor: #B5A8A1;
$dangerColor: #c9302c;


//bootstrap overrides

body {
  padding-top: 0;
  background: $baseColor;
}

.navbar {
  border: none;
  min-height: 75px;
  background: #FFF;
  margin-bottom: 0;
  border-radius: 0;
  border-bottom: 3px solid $accentColor;

  .navbar-brand {
    margin: 17px 0;
  }

  .navbar-toggle {
    margin-top: 25px;
  }

  .navbar-right img {
    width: 265px;
  }

}

.breadcrumb {
  margin-top: 20px;
  background: $baseColor;
  padding: 8px 0;
  border-radius: 0;

  li {
    font-size: 1.25em;
  }
}

.breadcrumb > li + li::before {
  content: ' | ';
  color: $accentColor;
}


.jumbotron {
  height: 100vh;
  margin-bottom: 0;
  background: lighten($accentColor, 15%);

  h1 {
    color: #FFF;
    padding-top: 50px;
  }

  .btn-select {
    margin-top: 50px;
  }
}


.btn-select {
  background: #FFF;
  color: $accentDarkColor;
  border: 2px solid $accentDarkColor;

  &:hover {
    background: $accentDarkColor;
    color: #FFF;
  }
}

.btn-refresh {
  background: #FFF;
  color: $dangerColor;
  border: 2px solid $dangerColor;

  &:hover {
    background: $dangerColor;
    color: #FFF;
  }
}


#makes-section {
  min-height: 100vh;
}


.comp-section {
  // height: calc(100vh - 100px); //jumbotron has 0 bottom margin; breadcrumbs has top margin of 20
  background: #FFF;
  border: 2px solid $accentColor;
  padding: 15px;

  .col-md-8 {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}


#trims-section {
  .btn-select {
    width: 100%;
  }

  ul li {
    list-style: none;
    margin-bottom: 10px;
  }
}

#profile-section {
  height: auto;
}

.step {
  text-align: center;

  h2 {
    color: $accentColor;
    font-size: 4em;
    margin-bottom: 25px;
  }

  p {
    color: $accentColor;
    font-size: 1.5em;
    margin-top: 25px;
  }
}

.circle {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 300px;
  background: $accentDarkColor;
  color: #FFF;
  font-size: 10em;
  font-weight: bold;
}


#profile-section {

  h2 {
    color: $accentDarkColor;
    border-bottom: 2px solid $accentColor;
    padding-bottom: 25px;
  }

  h3 {
    color: $accentColor;
  }

  h4 {
    margin-top: 50px;
    color: $dangerColor;
  }

  p {
    font-size: 1.10em;
  }

  ul {
    padding-left: 10px;
  }

  .col-md-4 {
    padding: 0 25px;
  }

  .ratings-box {
    border: 2px solid $accentColor;
    margin-bottom: 15px;

    h5 {
      padding: 2px 10px 0px;
      font-size: 1.25em;
    }

    .list-group {
      margin-bottom: 0;
      padding: 0;
    }

    .list-group-item {
      padding: 10px;

      &:first-child {
        border-radius: 0;
        border-top: 2px solid $accentColor;
      }

      &:last-child {
        border-radius: 0;
        border-bottom: none;
      }
    }
  }
}

.selection-block {
  display: inline-block;
  padding: 5px;

  a:hover {
    text-decoration: none;
  }
}

footer {
  margin-top: 25px;
  border-top: 2px solid $accentColor;
}


/*
  Transitions:
  .v-transition, .v-enter & .v-leave are default class applied to transition attribute
*/

.v-transition {
  transition: opacity .25s ease-in-out;
}

.v-enter {
  opacity: 1;
}

.v-leave {
  opacity: 0;
}
