<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Auto Safety Info</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Auto Safety Finder</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="http://www.edmunds.com/?id=apis" target="_blank">
                <img src="images/220_color.png" class="img-responsive" alt="api_attribution">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="landing">
      <div class="jumbotron" v-if="show" transition>
        <div class="container">
          <h1 class="text-center">Auto Safety Finder</h1>
          <h3 class="text-center">Search for modern cars by Make, Model, Year, and Trims.</h3>
          <p><button class="btn btn-select btn-lg center-block" v-on:click="start">Find a Vehicle</button></p>
        </div>
      </div>
    </div>

    <div class="container-fluid">

      <!-- Vue mount point is here  -->
      <div id="vehicle-app">

        <ol class="breadcrumb">
          <li v-if="obj.make_display.length > 0" v-on:click="reset">{{ obj.make_display }}</li>
          <li v-else>{{ menu[0] }}</li>
          <li v-if="obj.model_display.length > 0">{{ obj.model_display }}</li>
          <li v-else>{{ menu[1] }}</li>
          <li v-if="obj.year !== 1900">{{ obj.year }}</li>
          <li v-else>{{ menu[2] }}</li>
          <li v-if="obj.trim_name.length > 0">{{ obj.trim_name }}</li>
          <li v-else>{{ menu[3] }}</li>
          <li v-if="obj.trim_name.length > 0"><strong>Profile</strong></li>
          <li v-else>{{ menu[4] }}</li>
          <button class="btn btn-refresh pull-right" id="restart-button" v-on:click="reset">
            <span class="glyphicon glyphicon-repeat"></span> Restart
          </button>
        </ol>

        <div id="makes-section" class="comp-section" v-if="show.makes" transition>
          <div class="row">
            <div class="col-md-4 step">
              <h2>Step</h2>
              <div class="circle">1</div>
              <p>Select a brand.</p>
            </div>
            <div class="col-md-8">
              <div class="selection-block" v-for="make in makes">
                  <button class="btn btn-select" id="{{ make.name }}:{{ make.niceName}}" v-on:click="setSelectedVehicle">{{ make.name }}</button>
              </div>
            </div>
          </div>
        </div>

        <div id="models-section" class="comp-section" v-if="show.models" transition>
          <div class="row">
            <div class="col-md-4 step">
              <h2>Step 2</h2>
              <div class="circle">2</div>
              <p>Select a <strong>{{ obj.make_display }}</strong> model.</p>
            </div>
            <div class="col-md-8">
              <models-comp :models="models" :obj="obj">
                <div class="selection-block" v-for="model in models">
                  <button class="btn btn-select" id="{{ model.name }}:{{model.niceName}}" v-on:click="setSelectedModel">{{ model.name }}</button>
                </div>
              </models-comp>
            </div>
          </div>
        </div>


        <div id="years-section" class="comp-section" v-if="show.years" transition>
          <div class="row">
            <div class="col-md-4 step">
              <h2>Step 3</h2>
              <div class="circle">3</div>
              <p>Select a model year for</p>
              <p><strong>{{ obj.make_display }} {{ obj.model_display }}</strong>.</p>
            </div>
            <div class="col-md-8">
              <years-comp :obj="obj" :years="years">
                <div class="selection-block" v-for="year in years | orderBy 'year' -1">
                  <button class="btn btn-select" id="year-{{year.year}}" v-on:click="setSelectedYear">{{ year.year }}</button>
                </div>
              </years-comp>
            </div>
          </div>
        </div>

        <div id="trims-section" class="comp-section" v-if="show.trims" transition>
          <div class="row">
            <div class="col-md-4 step">
              <h2>Step</h2>
              <div class="circle">4</div>
              <p>Select a trim level for</p>
              <p><strong>{{ obj.year }} {{ obj.make_display }} {{ obj.model_display }}</strong>.</p>
            </div>
            <div class="col-md-8">
              <trims-comp :obj="obj" :trims="trims">
                <ul>
                  <li v-for="trim in trims">
                    <button class="btn btn-select" id="trim-{{trim.id}}" v-on:click="setSelectedTrim">{{ trim.name }}</a>
                  </li>
                </ul>
              </trims-comp>
            </div>
          </div>
        </div>

        <div id="profile-section" class="comp-section" v-if="show.profile">
          <profile-comp :obj="obj">
            <h2>{{ profileTitle }}</h2>

            <div class="row">
              <div class="col-md-4">
                <h3>Overview</h3>
                <p class="lead">{{ profileOverview }}</p>
                <h4>Powertrain</h4>
                <strong>Engine</strong>
                <p>{{ profileEngine }}</p>
                <strong>Transmission</strong>
                <p>{{ profileTransmission | lowercase }}</p>
                <h4>Details</h4>
                <p>{{ obj.profile.drivenWheels | capitalize }}</p>
                <p>{{ obj.profile.engine.horsepower }} horsepower &amp; {{ obj.profile.engine.torque }} <em>ft/lb</em> of torque</p>
                <p><strong>Fuel</strong> {{ obj.profile.engine.fuelType | capitalize }}</p>
                <p><strong>Expected MPG</strong> {{ obj.profile.MPG.city }} / {{ obj.profile.MPG.highway }}  city / highway</p>
              </div>
              <div class="col-md-4">
                <h3>Safety Ratings</h3>
                <p>The following is the recorded safety ratings conducted by both IIHS and NHTSA, if information is provided</p>
                <h4>IIHS Ratings</h4>
                <div id="iihs-ratings" v-if="obj.safety.iihs.length > 0">
                  <p><span class="label label-default">Note</span> Ratings are measured in terms: fair, poor, good, etc.</p>
                  <ul>
                    <li v-for="rating in obj.safety.iihs">
                      <p>{{ rating.category }} - {{ rating.value }}</p>
                    </li>
                  </ul>
                </div>
                <div v-else>
                  <p class="text-danger">No ratings from IIHS.</p>
                </div>

                <h4>NHTSA Ratings</h4>
                <div id="nhtsa-ratings" v-if="obj.safety.nhtsa">
                  <p><span class="label label-default">Note</span> Ratings are measured in terms of stars.</p>
                  <p v-if="obj.safety.nhtsa.overall">
                    Overall Rating {{ obj.safety.nhtsa.overall }} <span class="glyphicon glyphicon-star"></span>
                  </p>

                  <div class="ratings-box" v-for="cat in obj.safety.nhtsa.categories">
                    <h5>{{ cat.category }} <span class="pull-right"><strong>{{ cat.overall }}</strong></span></h5>
                    <ul class="list-group">
                      <li class="list-group-item" v-for="item in cat.options">
                        {{ item.name }}  <span class="pull-right">{{ item.value }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div v-else>
                  <p class="text-danger">No rating from NHTSA</p>
                </div>
              </div>
              <div class="col-md-4">
                <h3>Safety Features</h3>
                <ul>
                  <li v-for="feature in obj.safety.features">
                    <p>{{ feature }}</p>
                  </li>
                </ul>
              </div>
            </div>

          </profile-comp>
        </div>

      </div> <!-- vehicle app -->

      <div class="row">
        <footer>
          <div class="col-md-8 col-md-offset-2">
            <a href="http://www.edmunds.com/?id=apis" target="_blank">
              <img src="images/100_grey.png" class="img-responsive center-block" alt="attribution image">
            </a>
            <p class="text-center">Auto Finder uses Edmunds API for car data.</p>
            <p>A few things to note.</p>
            <ul class="center-block">
              <li>The Edmunds API only contains data for North America.</li>
              <li>Recalls, service bulletins, and maintenance lists exist but is not complete in the API.</li>
              <li>The Edmunds API has a media API for accessing vehicle images, but is only accessible to partners.</li>
            </ul>
          </div>
        </footer>
      </div>
    </div>



    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/vue/dist/vue.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
